.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.button-inactive {
    background-color: darkgrey;
    border: none;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;

}

.outer-box {
    margin-top: 150px;
    margin-left: 450px;
    margin-right: 450px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: double;
}