.label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }
  
.input {
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    font: inherit;
    line-height: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
.input:focus {
    outline: none;
    border-color: #008b5d;
  }

.errorMessage {
  color: red;
  text-align: center;
  font-size: small;
  font-weight: bold;
  border: 1px solid gray;
  border-radius: 3px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 50%;
  padding-top: 2px;
  padding-bottom: 2px;
}

  
  